* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

header{ 
    background: url('gambar/computer-keyboard-connection-contemporary-1714208\ \(1\).jpg') no-repeat;
    background-color:aqua;
    background-blend-mode: darken;
    opacity: .9;
    background-size: cover;
    height: 80vh;
    width: 100vw;
    position: relative;
    text-align: center;
}
header .wrapper-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header .wrapper-center h1 {
    color: beige;
    text-transform: uppercase;
    font-size: 2.3rem;
    text-shadow: 0 3px 0px black;
    margin-bottom: 40px;
}
header .wrapper-center img {
    border-radius: 48%;
    border: 8px solid black;
    box-shadow: 0 1px 20px 0px aqua;
    margin-bottom: 70px;
    margin-top: 20px; 
    cursor: pointer;
}
header .wrapper-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
header .wrapper-center ul li a {
margin-right: 40 px;
text-decoration: none;
color: beige;
text-transform: uppercase;
font-size: 2.3rem;
text-shadow: 0 3px 0px black;
margin-bottom: 40px;
padding: 170px;
padding-bottom: 5px; 
}
header .wrapper-center ul li a:hover{
border-bottom: solid;
}
.tentang {
    background: rgb(119, 114, 114);
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 50vh;
    display: flex;
    align-content: center;
}
.tentang .wrapper h2{
    text-shadow: 0 2px 0px black;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: 3px solid white;
    display: inline-block;
    margin-bottom: 30px;
}
.tentang .wrapper p{
     line-height: 25px;
     padding: 0 35px;
}
.gallery {
    background: black;
    text-align: center;
    padding: 15px 10px;
    height: 70vh;
    width: 100%;
    display: table;
    align-content: center;
}
.gallery, .wrapper h2{
    text-shadow: 0 2px 0px black;
    color:#EFEFEF;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
}
.empat {
    padding: cm 
}

.saas ul li{
    list-style-type: none;
    float: left;
    padding-left: 10px;
}